@-webkit-keyframes upDown {
	to {
		translate: 0 16px;
	}
}
@keyframes upDown {
	to {
		translate: 0 16px;
	}
}

@-webkit-keyframes ball {
	to {
		translate: 0 20px;
	}
}
@keyframes ball {
	to {
		translate: 0 20px;
	}
}
